.body {
  background-color: var(--primary);
  border-radius: 0.8rem;
  padding: 1rem;
  margin: 0;
  height: 100%;
  max-width: var(--screenMaxWith);
  box-shadow: 0 0 1rem rgba(15, 19, 22, 0.781);
}
