@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: inter;
  src: url(./assets/inter.ttf);
}

:root {
  font-family: inter, sans-serif;

  --primary: #1e1e27;
  --secondary: #2b2b37;
  --tertiary: #fcaf58;
  --border1: #f5f5f5;
  --txt1: #f5f5f5;
  --txt2: #fcaf58;
  --txt3: #8e8e8e;
  --highlight: rgba(255, 255, 255, 0.03);
  --success-color: #60ed91;
  --error-color: #fb4c69;
  --info-color: #3ba8c4;

  --size1: 1.7rem;
  --size2: 0.75rem;
  --size3: 1.1rem;
  --size4: 0.9rem;

  --screenMaxWith: 400px;
}

#talentorAIContainer {
  font-family: inter, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 600px;
  width: var(--screenMaxWith);
  margin: 0;
  font-size: var(--size4);
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--txt1);
}

.ant-select-arrow {
  color: var(--txt3) !important;
}
